
h1 {
    font-family: "Inter", sans-serif;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 64px;
    padding: 20px;
}

.box-color {
    padding: 20px;
}

.float-one {
    float: left;
    width: 191px;
    height: 88px;
    background-color: #ACF414;
}

.float-two {
    float: left;
    width: 191px;
    height: 88px;
    background-color: #7A54E6;
}

.float-three {
    float: left;
    width: 191px;
    height: 88px;
    background-color: #CC1298;
}

.float-four {
    float: left;
    width: 720px;
    height: 88px;
    background-color: #D9D9D9;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.horizontal-bar {
    border: 1px solid #3172EF;
    background-color: #EEFFFF;
    margin: 20px;
}

.horizontal-bar > div {
    display: inline-block;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

